<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
      <a href="index.html" class="back link"> <i class="icon icon-back"></i>
        <span>返回</span>
      </a>
    </div>
    <div class="center sliding">背景介绍</div>
    <div class="right">
      <a href="#" class="open-panel link icon-only"> <i class="icon icon-bars"></i>
      </a>
    </div>
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="beijingjieshao" class="page">
    <div class="page-content">
      <div class="content-block-title">自我介绍</div>
      <div class="content-block">
        <div class="conte
            One of Framework7' knt-block-inner">
          <p>2004年，较早进入互联网Web开发领域，做过个人站长（全栈），曾在创业公司工作5年（敏捷全面），大型互联网公司4年（流程控制）。善于协调项目前期策划、设计、控制需求范围和项目进度、从零到一的前期技术架构，协调解决各环节问题。技术方向：前端工程、模块开发、异步编程、前后端开源框架库。
          </p>
        </div>
      </div>

      <div class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title">现任职位</div>
                <div class="item-after">前端技术经理</div>
              </div>
            </div>
          </li>

          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title">工作经验</div>
                <div class="item-after">12年WEB产品架构研发经验</div>
              </div>
            </div>
          </li>

          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title">毕业院校</div>
                <div class="item-after">郑州轻工业学院(2000~2004年)</div>
              </div>
            </div>
          </li>

          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title">所修专业</div>
                <div class="item-after">电子与信息技术</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>