    <div class="picker-modal picker-modal-demo">
      <div class="toolbar">
        <div class="toolbar-inner">
          <div class="left"></div>
          <div class="right"><a href="#" class="link close-picker">确定</a></div>
        </div>
      </div>
      <div class="picker-modal-inner">
        <div class="content-block">
          <p>2004年，较早进入互联网Web开发领域，做过个人站长（全栈），曾在创业公司工作5年（敏捷全面），大型互联网公司4年（流程控制）。善于协调项目前期策划、设计、控制需求范围和项目进度、从零到一的前期技术架构，协调解决各环节问题。技术方向：前端工程、模块开发、异步编程、前后端开源框架库。</p>
        </div>
      </div>
    </div>