<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
      <a href="index.html" class="back link"> <i class="icon icon-back"></i>
        <span>返回</span>
      </a>
    </div>
    <div class="center sliding">基本资料</div>
    <div class="right">
      <a href="#" class="open-panel link icon-only"> <i class="icon icon-bars"></i>
      </a>
    </div>
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="list-view" class="page">
    <div class="page-content">
      <div class="card ks-card-header-pic">
        <div valign="bottom" class="aboutme-pic card-image color-white no-border">Furic</div>
        <div class="card-content">
          <div class="card-content-inner">
            <p>
              个人能力有限，团队力量无限！让激情燃烧自己，把火光照亮别人!
            </p>
          </div>
        </div>
      </div>

      <div class="content-block-title">基本信息</div>
      <div class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title">姓名</div>
                <div class="item-after">赵会见(Furic)</div>
              </div>
            </div>
          </li>

          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title">性别</div>
                <div class="item-after">男</div>
              </div>
            </div>
          </li>

          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title">出生年月</div>
                <div class="item-after">1982年4月</div>
              </div>
            </div>
          </li>

          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title">民族</div>
                <div class="item-after">汉族</div>
              </div>
            </div>
          </li>

          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title">婚姻状况</div>
                <div class="item-after">已婚</div>
              </div>
            </div>
          </li>

          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title">籍贯</div>
                <div class="item-after">河南</div>
              </div>
            </div>
          </li>

          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title">兴趣爱好</div>
                <div class="item-after">电子、硬件、DIY</div>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="content-block-title">背景介绍</div>
      <div class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title">现任职位</div>
                <div class="item-after">前端技术经理(T6)</div>
              </div>
            </div>
          </li>

          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title">团队规模</div>
                <div class="item-after">9人(两个T5、两个T4级别)</div>
              </div>
            </div>
          </li>

          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title">工作经验</div>
                <div class="item-after">12年WEB产品架构研发经验</div>
              </div>
            </div>
          </li>

          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title">毕业院校</div>
                <div class="item-after">郑州轻工业学院(2000~2004年)</div>
              </div>
            </div>
          </li>

          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title">所修专业</div>
                <div class="item-after">电子与信息技术</div>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>