{{#each this}}
<div class="card ks-card-header-pic show-photo swiper-slide" data-id="{{id}}">
	<div class="card-header">{{name}}</div>
	<div style="background-image:url({{cover}})" valign="bottom" class="card-image color-white no-border lazy lazy-fadein"></div>
	{{#if desc}}
	<div class="card-content">
		<div class="card-content-inner">
			<p>{{desc}}</p>
		</div>
	</div>
	{{/if}}
</div>
{{/each}}