<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
      <a href="index.html" class="back link"> <i class="icon icon-back"></i>
        <span>返回</span>
      </a>
    </div>
    <div class="center sliding">作品信息</div>
    <div class="right">
      <a href="#" class="link open-panel icon-only"> <i class="icon icon-bars"></i>
      </a>
    </div>
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="works" class="page">
    <div class="page-content">
      <div class="content-block-title">近期项目经历</div>
      <div class="content-block">
        <div class="content-block-inner">
          <p>
            2012年加盟360，担任360搜索百科首席前端架构师，带队负责前端，主攻百科编辑器，早期身兼产品经理、部分功能被百度和互动百科抄袭借鉴，后续两周内上线移动版百科，协调处理各环节问题，年底获得优秀员工及股票奖励，随后从百科业务部门并入360最大的前端团队-WEB平台部/奇舞团。
          </p>
          <p>
            2014年进驻安全卫士部门负责研发360安全卫士会员中心，创造本地debug开发模式，彻底脱离研发环境对客户端的依赖，并增加线上和线下一键开启debug，快速定位问题，大大提高客户端内嵌WEB的研发效率。
          </p>
          <p>
            2015年初调入老周带领的智能硬件部门，带领前端团队，负责360第一个直播项目小水滴直播网站的搭建研发、app内嵌H5、商城官网的各种合作发售活动前端技术支持。后续协助开发花椒直播、熊猫TV、3663Mi玩、悟空TV、游戏内嵌秀场等直播项目。
          </p>
        </div>
      </div>

      <div class="content-block-title">作品展示</div>

      <div class="works-list-box"></div>

    </div>
  </div>
</div>