      {{#each this}}
      <div class="card ks-card-header-pic show-photo" data-id="{{id}}">
        <div style="background-image:url({{cover}})" valign="bottom" class="card-header color-white no-border">{{name}}</div>
        <div class="card-content">
          <div class="card-content-inner">
            <p>{{desc}}</p>
          </div>
        </div>
      </div>
      {{/each}}