<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
      <a href="index.html" class="back link"> <i class="icon icon-back"></i>
        <span>返回</span>
      </a>
    </div>
    <div class="center sliding">作品信息</div>
    <div class="right">
      <a href="#" class="link open-panel icon-only"> <i class="icon icon-bars"></i>
      </a>
    </div>
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="works" class="page">
    <div class="page-content">
      <div class="content-block-title">几个近期作品</div>
      <div class="card">
        <div class="card-content">
          <div class="list-block">
            <ul>
              <li>
                <a href="http://jia.360.cn/pc" target="_blank" class="external item-link item-content">
                  <div class="item-inner">
                    <div class="item-title">小水滴直播PC版(http://jia.360.cn/pc)</div>
                    <div class="item-after">请在PC上浏览</div>
                  </div>
                </a>
              </li>

              <li>
                <a href="http://jia.360.cn/mobile" target="_blank" class="external item-link item-content">
                  <div class="item-inner">
                    <div class="item-title">小水滴直播移动版(http://jia.360.cn/mobile)</div>
                    <div class="item-after">请在手机上浏览</div>
                  </div>
                </a>
              </li>

              <li>
                <a href="http://www.3663.com/" target="_blank" class="external item-link item-content">
                  <div class="item-inner">
                    <div class="item-title">3663Mi玩美女直播(http://www.3663.com/)</div>
                    <div class="item-after">请在PC上浏览</div>
                  </div>
                </a>
              </li>

              <li>
                <a href="http://www.5kong.tv/" target="_blank" class="external item-link item-content">
                  <div class="item-inner">
                    <div class="item-title">悟空TV游戏直播(http://www.5kong.tv/)</div>
                    <div class="item-after">请在PC上浏览</div>
                  </div>
                </a>
              </li>

              <li>
                <a href="http://www.huajiao.com/" target="_blank" class="external item-link item-content">
                  <div class="item-inner">
                    <div class="item-title">花椒手机直播(http://www.huajiao.com/)</div>
                    <div class="item-after">请在PC上浏览</div>
                  </div>
                </a>
              </li>

              <li>
                <a href="http://www.panda.tv/" target="_blank" class="external item-link item-content">
                  <div class="item-inner">
                    <div class="item-title">熊猫TV游戏直播(http://www.panda.tv/)</div>
                    <div class="item-after">请在PC上浏览</div>
                  </div>
                </a>
              </li>
        
              <li>
                <a href="http://baike.so.com" target="_blank" class="external item-link item-content">
                  <div class="item-inner">
                    <div class="item-title">360百科PC版(http://baike.so.com)</div>
                    <div class="item-after">请在PC上浏览</div>
                  </div>
                </a>
              </li>

              <li>
                <a href="http://m.baike.so.com/" target="_blank" class="external item-link item-content">
                  <div class="item-inner">
                    <div class="item-title">360百科移动版(http://m.baike.so.com/)</div>
                    <div class="item-after">请在手机上浏览</div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="content-block-title">近期项目经历</div>
      <div class="content-block inset">
        <div class="content-block-inner">
          <p>2012年加盟360，担任360搜索百科首席前端架构师，带队负责前端，主攻百科编辑器，早期身兼产品经理、部分功能被百度和互动百科抄袭借鉴，后续两周内上线移动版百科，协调处理各环节问题，年底获得优秀员工及股票奖励。之后并入360最大的前端团队-奇舞团，负责360安全卫士会员中心的构建和研发。2015年初调入老周带领的智能硬件部门，带领前端团队，负责360第一个直播项目小水滴直播网站的搭建研发、app内嵌H5、商城官网的各种合作发售活动前端技术支持。后续协助开发花椒直播、熊猫TV、3663Mi玩、悟空TV、游戏内嵌秀场等直播项目。</p>
        </div>
      </div>

      <div class="content-block-title">一些作品</div>
      <div class="card ks-card-header-pic">
        
        <div class="card-content">
          <div class="card-content-inner">
            <p class="color-gray">2014年作品</p>
            <p>
              安全卫士内嵌页面
            </p>
          </div>
        </div>
        <div style="background-image:url(../static/images/works/idhua/hy01.jpg)" valign="bottom" class="card-header color-white no-border show-photo">安全卫士会员中心(ID化)</div>
        <div class="card-footer">
          <a href="#" class="link show-photo">更多截图</a>
          <!-- <a href="#" target="_blank" class="external link">查看详情</a> -->
        </div>
      </div>

    </div>
  </div>
</div>