<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
      <a href="index.html" class="back link"> <i class="icon icon-back"></i>
        <span>返回</span>
      </a>
    </div>
    <div class="center sliding">职位意向</div>
    <div class="right">
      <a href="#" class="open-panel link icon-only"> <i class="icon icon-bars"></i>
      </a>
    </div>
  </div>
</div>
<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
<div class="pages navbar-through toolbar-through">
  <!-- Index Page-->
  <div data-page="index" class="page">
    <div class="page-content">
      <div class="content-block-title">意向岗位</div>
      <div class="content-block inset">
        <div class="content-block-inner">
          <p>高级WEB产品架构师、技术经理、项目经理、产品经理</p>
        </div>
      </div>

      <div class="content-block-title">意向职责</div>
      <div class="content-block inset">
        <div class="content-block-inner">
          <p>负责产品需求分析和架构设计、参与系统技术选型及核心模块技术验证和技术攻关，带领团队实现并完善产品功能，协调测试、上线、反馈等流程，控制产品进度及处理各环节问题，保证产品最终质量</p>
        </div>
      </div>

    </div>
  </div>
</div>