/**
 * @name: Test Project
 * @description: This is a demo use of `Gulp Workflow`
 * @author: littledu
 */

/* Import Less files */

// @import "lib/mixins";
// @import "lib/reset";
@import "font-awesome/font-awesome";

.ks-card-header-pic {
	.card-image {
		height: 75vw;
		background-size: cover;
		background-position: center;
		text-shadow: 2px 2px 2px #000;
	}
	.fa {
		float: left;
	}
}
.ks-coverflow-slider {
	height: 60%;
	top: 20%;

	.swiper-slide {
		width: 65%;
	}
}
.ks-cube-slider, .ks-coverflow-slider {
	.swiper-slide {
		background-size: cover;
		color: #fff;
		-webkit-backface-visibility: hidden;
	}
}
.aboutme-pic {
	background-image: url(../images/zhaozhao.jpg);
}