/**
 * @name: Test Project
 * @description: This is a demo use of `Gulp Workflow`
 * @author: littledu
 */

/* Import Less files */

// @import "lib/mixins";
// @import "lib/reset";

.ks-card-header-pic .card-image {
  height: 50vw;
  background-size: cover;
  background-position: center;
  text-shadow: 2px 2px 2px #000;
}

.aboutme-pic {
	background-image: url(../images/zhaozhao.png);
}
