<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Your app title -->
  <title>WebApp简历</title>
  <!-- Path to Framework7 Library CSS, iOS Theme -->
  <link rel="stylesheet" href="./static/css/page-framework7.ios.css">
  <!-- Path to Framework7 color related styles, iOS Theme -->
  <link rel="stylesheet" href="./static/css/page-framework7.ios.colors.css">
  <!-- font-awesome -->
  <link rel="stylesheet" href="./static/css/page-font-awesome.css">
  <!-- Path to your custom app styles-->
  <link rel="stylesheet" href="./static/css/page-index.css"></head>
<body>
  <!-- Status bar overlay for fullscreen mode-->
  <div class="statusbar-overlay"></div>
  <!-- Panels overlay-->
  <div class="panel-overlay"></div>
  <!-- Left panel with reveal effect-->
  <div class="panel panel-left panel-cover layout-dark" id="js-panel-left">

    <div class="content-block-title">页面导航</div>
    <div class="list-block">
      <ul class="app-nav">
        <!-- 导航模板 -->
      </ul>
    </div>

  </div>

  <!-- Views-->
  <div class="views">
    <!-- Your main view, should have "view-main" class-->
    <div class="view view-main">
      <!-- Top Navbar-->
      <div class="navbar">
        <div class="navbar-inner">
          <div class="center sliding">简历</div>
          <div class="right">
            <a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
      <div class="pages navbar-through toolbar-through">
        <!-- Index Page-->
        <div data-page="home" class="page">
          <div class="page-content" id="js-page-content">

            <!-- 首页基本信息 -->
            <div class="list-block">
              <ul class="app-nav index-app-nav">
                <!-- 导航模板 -->
              </ul>
            </div>
            <!-- /首页基本信息 --> </div>
        </div>
      </div>
    </div>
  </div>

  <!-- build:js ./lib/framework7.js -->
  <script type="text/javascript" src="../lib/framework7.js"></script>
  <!-- endbuild -->
  <!-- build:js ./lib/q.js -->
  <script src= "../lib/q.js"></script>
  <!-- endbuild -->
  <script>
  var myApp = new Framework7();

  var $$ = Dom7;

  // Add main View
  var mainView = myApp.addView('.view-main', {
      // Enable dynamic Navbar
      dynamicNavbar: true,
  });
  </script>
  <script type="text/javascript" src="./static/js/index.js"></script>
</body>
</html>