<li>
    <a href="./index/jibenziliao.html" class="item-link item-content close-panel">
        <div class="item-media"><i class="fa fa-newspaper-o"></i></div>
        <div class="item-inner">
            <div class="item-title">基本资料</div>
        </div>
    </a>
</li>
<li>
    <a href="./index/experience.html" class="item-link item-content close-panel">
        <div class="item-media"><i class="fa fa-paper-plane"></i></div>
        <div class="item-inner">
            <div class="item-title">本人经历</div>
        </div>
    </a>
</li>
<li>
    <a href="./index/works.html" class="item-link item-content close-panel">
        <div class="item-media"><i class="fa fa-cubes"></i></div>
        <div class="item-inner">
            <div class="item-title">作品信息</div>
        </div>
    </a>
</li>
