<!-- 头像 -->
<div class="card ks-card-header-pic">
  <div valign="bottom" style="background-image:url({{favicon}})" class="aboutme-pic card-image color-white no-border lazy lazy-fadein">{{title}}</div>
  <div class="card-content">
    <div class="card-content-inner">
      <p>{{desc}}</p>
    </div>
  </div>
</div>
<!-- /头像 -->